
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

     html{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        color: rgb(0, 0, 0);
        scroll-behavior: smooth;
     }
     body{
        overflow-x: hidden;

     }

     section{
        padding: 3.9rem 0;
        overflow: hidden;
     }
     img{
        width: 100%;
        max-width: 100%;
    
     }

     a{
        text-decoration: none;
     }

     p{
        font-size: 1.6rem;
     }

     .container{
        width: 100%;
        max-width: 112.5rem;
        margin: 0 auto;
        padding:0 2.4rem;

        
     }

            /*     navBar  */ 

        nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(59, 59, 244);
        color: rgb(245, 237, 237);
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        }

        .nav-left a,
        .nav-right a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin: 0 10px;
        }

        .nav-left a:hover,
        .nav-right a:hover {
        color: lightgray;
        }

        .nav-menu-button {
        display: none;
        }

        @media (max-width: 600px) {
        .nav-right {
            display: none;
        }

        .nav-menu-button {
            display: block;
        }
        }

                /*     navBar  */

    .hero{
        width: 100%;
        height: 70vh;
        background: url(./assets/El-Salvador1.jpg) center no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .h2-sub {
        font-size: 5rem;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 900;
        line-height: 1;
    }

     .fil {
        text-transform: uppercase;
        font-size: 3rem;
    }       
    
    .head {
        color:#fff;
        font-size: 5rem;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        
    }

     .circle{
        font-size: 1.5rem;
        color:#3bcc75;
        margin:0 1.6rem
     }

     .he-des h5 {
        color:white;
        font-size: 2rem;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
        letter-spacing: 3px;
        margin-right: -3px;
     }

     .btn{
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: -2px;
     }

     .cta-btn {
        font-size: 1.1rem;
        background-color:blue;
        padding: 1.5rem 3rem;
        color:#fff;
        border-radius: .4rem;
    }

     .cta-btn:hover,
     .cta-btn:focus{
        color:#fff;
        background-color:#3bcc75;
     }

     .global {
        text-align: center;
        margin-top: 3.9rem;
    }

    .dis-sto .global {
        margin-top: 2rem;
    }

     .global .circle {
        color:#3bcc75;
        margin: 0;
     }

     .hea-dark {
        color: #3bcc75;
        letter-spacing: .7rem;
        margin-right: -.7rem;
     }
        
     .global h2-sub{
        letter-spacing: -1px;
        line-height: .42;  
     }
        
    .res-info {
        text-align: center;
    }
        
    .res-des{ 
        margin-bottom: 3rem;
    }

    .res-des p{
       line-height: 1.6;
        margin-bottom: 2rem
    }
       /*  menu   */

    .taste{
        background: url("./assets/el-salvador3.webp") center no-repeat;
        background-size: cover;
        }
        
    .bt{
        min-height: 65vh;
       display: flex;
       align-items: center;
    }

 /* platillos */

    .image-group2 {
        height: 80%;
        width: 80%;
       padding: 4rem;
    }
    
    
    .image-group
        {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.1rem;
        }
    
        
    .disco .res-des{
        padding-top: 3rem;
        margin-bottom: 0; 
        }
        
    .pb{
        background: url("./assets/el-salvador10.jpg") center no-repeat;
        background-size: cover;
        }


        /* footer  */

        footer {
          padding: 1.9rem 0;
          background-color:rgb(42, 42, 240);
          color:white;
          text-align: center;
          position: relative;
      }

  .footer-content{
      overflow: hidden;
      }

  .footer-content h4 {
      font-size: 1.9rem;
      text-transform: uppercase;
     font-weight: 100;
      letter-spacing: 3px;
      margin-bottom: 3rem;
      }
          
      .social-icons {
          list-style: none;
          margin-bottom: 5.4ren;
         display: flex;
          justify-content: center;
      }
          
      .social-icons i {
          font-size: 3rem;
          color:black;
          padding: .2rem 2rem;
      }

      .social-icons i:hover,
      .social-icons i:focus{
         color: #f9f8f5;
      }

      .news-form{
          width: 100%;
          position: relative;
          display: flex;
          justify-content: center;
      }
      
      .new-input{
          width: 100%;
          max-width: 25rem;
          padding: 1rem;
          border-radius: 4rem;
      }

      @media screen and (min-width: 900px) {

           section {
               padding: 7.9rem;
          }

       .menu-toggle{
          display: none;
          }

      .nav{
           justify-content: space-between;
      }

      .nav-list{
          position: initial;
          width: initial;
          height: initial;
          background-color: transparent;
          padding: 0;
          justify-content: initial;
          flex-direction: row;
          transform: initial;
          transition: initial;
          }

      .nav-item{
      margin: 0 2.4rem;
      }

      .nav-item:last-child {
       margin-right:0;
      }

      .nav-link {
      font-size: 1.3rem;
      }

      .active {
      position: relative;
      }
      .active::before{
     content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #faf7f2;
      left: 0;
      bottom: -3px;
      }

       .h2-sub{
     font-size: 3rem;
      }

      .fil{
      font-size: 3rem;
      }
      
      .head{
      font-size: 4.7rem;
      letter-spacing: .8rem;
      }

     .res-info{
      display: flex;
      align-items: center;
      }

       .res-info > div{
      flex: 1;
      }

      .pad-rig{
      padding-right: 7rem;

      }


      .footer-content {
          max-width: 77.5rem;
          margin: auto;
      }
          
      .footer-content-about{
          max-width: 51.3rem;
          margin: 0 auto 5.4rem;
      }
           
          
      .footer-div{
          display: flex;
          justify-content: space-between;
      }

      .social-media,
      .news-form{
          width: 100%;
          max-width: 27.3rem;
          margin:0 1rem;
          }
          
      .social-icons i {
          opacity: 1;
      }

      .news-btn{
          margin-left: 7.5rem;
      }
  }

/* affecting text in different places */
  
        .text {
        color: blue;
        background-color: #e6e6e6;
        padding: 20px;
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        margin: 5rem;
        
        }

            
    
