
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

     html{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        color: black;
        scroll-behavior: smooth;
     }
     body{
        overflow-x: hidden;
     }

     section{
        padding: 3.9rem 0;
        overflow: hidden;
     }
     img{
        width: 100%;
        max-width: 100%;
    
     }

     a{
        text-decoration: none;
     }

     p{
        font-size: 1.6rem;
     }

     .container{
        width: 100%;
        max-width: 112.5rem;
        margin: 0 auto;
        padding: 0 2.4rem;
     }

    /*     navBar  */
   
   
    .navbar{

        position: fixed;
        top: 0%;
        left: 0%;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        color: rgb(8, 8, 8);
        background-color: rgb(66, 121, 249);
        font-size: 2.5vmin;
    }

    .nav-links{
        display: flex;
        align-items: center;
    }

    .nav-links li{
        margin: 0 30px;
    }


     /*  NAVBAR  */
     @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
     *{
       margin: 0;
       padding: 0;
       color: #0430bf;
       box-sizing: border-box;
       font-family: 'Montserrat', sans-serif;
     }
     nav{
       background: none;
       padding: 10px 40px 10px 70px;
       border: 1px solid #000;
       border-left: none;
       border-right: none;
     }
     nav ul{
       display: flex;
       list-style: none;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
     }
     nav ul li.logo{
       flex: 1;
       font-size: 30px;
       font-weight: 700;
     }
     nav ul div.items{
       padding: 0 25px;
       display: inline-flex;
     }
     nav ul div.items a{
       text-decoration: none;
       font-size: 18px;
       padding: 0 12px;
     }
     nav ul div.items a:hover{
       color: rgb(248, 251, 247);
     }
     nav ul .search-icon{
       height: 40px;
       width: 240px;
       display: flex;
       background: #f2f2f2;
       border-radius: 5px;
     }
     nav ul .search-icon input{
       height: 100%;
       width: 200px;
       border: none;
       outline: none;
       padding: 0 10px;
       color: #000;
       font-size: 16px;
       border-radius: 5px 0 0 5px;
     }
     nav ul .search-icon .icon{
       height: 100%;
       width: 40px;
       line-height: 40px;
       text-align: center;
       border: 1px solid #cccccc;
       border-radius: 0 5px 5px 0;
       cursor: pointer;
     }
     nav ul .search-icon .icon:hover{
       background: #e6e6e6;
     }
     nav ul .search-icon .icon span{
       color: #222222;
       font-size: 18px;
     }
     nav ul li.btn{
       font-size: 29px;
       flex: 1;
       padding: 0 40px;
       display: none;
     }
     nav ul li.btn span{
       height: 42px;
       width: 42px;
       text-align: center;
       line-height: 42px;
       border: 1px solid #151515;
       border-radius: 5px;
       cursor: pointer;
     }
     nav ul li.btn span.show:before{
       content: '\f00d';
     }
     @media screen and (max-width: 1052px) {
       nav{
         padding: 10px 40px 10px 0px;
       }
       nav ul li.logo{
         display: none;
       }
       nav ul div.items{
         flex: 4;
       }
     }
     @media screen and (max-width: 800px){
       nav ul li.btn{
         display: block;
       }

       nav{
         z-index: 1;
         padding: 9px 40px 9px 0;
       }

       nav ul div.items{
         z-index: -1;
         position: fixed;
         top: -220px;
         right: 0;
         width: 100%;
         background: #222222;
         display: inline-block;
         transition: top .4s;
       }

       nav ul div.items.show{
         top: 60px;
       }

       nav ul div.items li{
         text-align: center;
         line-height: 30px;
         margin: 30px 0;
       }

       nav ul div.items li a{
         font-size: 19px;
       }

     }

     @media screen and (max-width: 405px) {
       nav ul{
         flex-wrap: nowrap;
       }

       nav ul li.search{
         width: 50vmin;
       }

       nav ul li input{
         width: 40vmin;
       }

       nav ul li .search-icon{
         width: 10vmin;
       }

     }

     .content{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
       width: 100%;
       padding: 0 40px;
       z-index: -2;
     }

     .content .text{
       font-size: 40px;
       font-weight: 800;
       padding: 5px 0;
       color: #202020;
     }
     
     .content .p{
       font-size: 28px;
       font-weight: 600;
       color: #202020;
     }
 
        /*     navBar  */

    .hero{
        width: 100%;
        height: 70vh;
        background: url(./assets/El-Salvador1.jpg) center no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .h2-sub {
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        color:#3bcc75;
        font-weight: 600;
        line-height: .4;
    }

     .fil {
        text-transform: uppercase;
        font-size: 3rem;
    }       
    
    .head {
        color:#fff;
        font-size: 3.7rem;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: .5rem;
    }

     .circle{
        font-size: 1.5rem;
        color:#3bcc75;
        margin:0 1.6rem
     }

     .he-des h5 {
        color:#fff;
        font-size: 1.4rem;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
        letter-spacing: 3px;
        margin-right: -3px;
     }

     .btn{
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: -2px;
     }

     .cta-btn {
        font-size: 1.1rem;
        background-color:#ffc845;
        padding: 1.5rem 3rem;
        color:#fff;
        border-radius: .4rem;
    }

     .cta-btn:hover,
     .cta-btn:focus{
        color:#fff;
        background-color:#3bcc75;
     }

     .global {
        text-align: center;
        margin-top: 3.9rem;
    }

    .dis-sto .global {
        margin-top: 6.9rem;
    }

     .global .circle {
        color:#3bcc75;
        margin: 2.4rem;
     }

     .hea-dark {
        color: black;
        letter-spacing: .7rem;
        margin-right: -.7rem;
     }
        
     .global h2-sub{
        letter-spacing: -1px;
        line-height: .42;  
     }
        
    .res-info {
        text-align: center;
    }
        
    .res-des{ 
        margin-bottom: 3rem;
    }

    .res-des p{
       line-height: 1.6;
        margin-bottom: 2.4rem
    }
       /*  menu   */

    .taste{
        background: url("./assets/el-salvador3.webp") center no-repeat;
        background-size: cover;
        }
        
    .bt{
        min-height: 65vh;
       display: flex;
       align-items: center;
    }

 /* platillos */

    .image-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        }
        
    .disco .res-des{
        padding-top: 3rem;
        margin-bottom: 0; 
        }
        
    .pb{
        background: url("./assets/el-salvador10.jpg") center no-repeat;
        background-size: cover;
        }


        /* footer  */

        footer {
            padding: 4.9rem 0;
            background-color: rgb(188, 238, 188);
            color: rgb(4, 4, 4);
            text-align: center;
            position: relative;
        }

    .footer-content{
        overflow: hidden;
        }

    .footer-content h4 {
        font-size: 1.9rem;
        text-transform: uppercase;
       font-weight: 100;
        letter-spacing: 3px;
        margin-bottom: 3rem;
        }
            
        .social-icons {
            list-style: none;
            margin-bottom: 5.4ren;
           display: flex;
            justify-content: center;
        }
            
        .social-icons i {
            font-size: 3rem;
            color: rgb(30, 1, 177);
            padding: .2rem 2rem;
        }

        .social-icons i:hover,
        .social-icons i:focus{
           color: #efdf64;
        }

        .news-form{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
        }
        
        .new-input{
            width: 100%;
            max-width: 25rem;
            padding: 1rem;
            border-radius: 4rem;
        }

        @media screen and (min-width: 900px) {

             section {
                 padding: 7.9rem;
            }

         .menu-toggle{
            display: none;
            }

        .nav{
             justify-content: space-between;
        }

        .nav-list{
            position: initial;
            width: initial;
            height: initial;
            background-color: transparent;
            padding: 0;
            justify-content: initial;
            flex-direction: row;
            transform: initial;
            transition: initial;
            }

        .nav-item{
        margin: 0 2.4rem;
        }

        .nav-item:last-child {
         margin-right:0;
        }

        .nav-link {
        font-size: 1.3rem;
        }

        .active {
        position: relative;
        }
        .active::before{
       content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffc845;
        left: 0;
        bottom: -3px;
        }

         .h2-sub{
       font-size: 3rem;
        }

        .fil{
        font-size: 3rem;
        }
        
        .head{
        font-size: 4.7rem;
        letter-spacing: .8rem;
        }

       .res-info{
        display: flex;
        align-items: center;
        }

         .res-info > div{
        flex: 1;
        }

        .pad-rig{
        padding-right: 7rem;

        }


        .footer-content {
            max-width: 77.5rem;
            margin: auto;
        }
            
        .footer-content-about{
            max-width: 51.3rem;
            margin: 0 auto 5.4rem;
        }
             
            
        .footer-div{
            display: flex;
            justify-content: space-between;
        }

        .social-media,
        .news-form{
            width: 100%;
            max-width: 27.3rem;
            margin:0 1rem;
            }
            
        .social-icons i {
            opacity: 1;
        }

        .news-btn{
            margin-left: 7.5rem;
        }
    }


    
    
    
