
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

     html{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        color: black;
        scroll-behavior: smooth;
     }
     body{
        overflow-x: hidden;
     }

     section{
        padding: 3.9rem 0;
        overflow: hidden;
     }
     img{
        width: 100%;
        max-width: 100%;
    
     }

     a{
        text-decoration: none;
     }

     p{
        font-size: 1.6rem;
     }

     .container{
        width: 100%;
        max-width: 112.5rem;
        margin: 0 auto;
        padding: 0 2.4rem;
     }

    /*     header    */

    header{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
    }
    
    .nav{
        height: 7.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-toggle{
        color: aqua;
        font-size: 2.3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2.5rem;
        cursor: pointer;
        z-index: 1500;
    }

    .fa-times{
        display: none;
    }

    .nav-list{
        list-style: none;
        position: fixed;
        top: 0;
        width: 0;
        height: 100vh;
        background-color: aquamarine;
        padding: 4.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(-100%);
       
    }
    .nav::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: black;
        z-index: 1000;
        opacity: 0;
        transform: scale(0);
        transition: opacity .5s;
    }

    .open .fa-times{
        display: none;
    }

    .open .fa-bars{
        display: none;
    }

    .open .nav-list{
        transform: translateX(0);
    }

    .open .nav::before{
        opacity: 1;
        transform: scale(1);
    }

    .logo{
        color: rgb(250, 247, 247);
       font-size: 3rem;
       font-weight: 600;
    }

    .nav-item{
        border-bottom: 2px, solid rgba(225, 255, 255,.3);
    }
    .nav-link{
        display: block;
        color: antiquewhite;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 2px;
        margin-right: -2px;
    }

    .nav-link:hover{
        color: blue;
    }


    .hero{
        width: 100%;
        height: 70vh;
        background: url(./assets/El-Salvador1.jpg) center no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .h2-sub {
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        color:#3bcc75;
        font-weight: 600;
        line-height: .4;
    }

     .fil {
        text-transform: uppercase;
        font-size: 3rem;
    }       
    
    .head {
        color:#fff;
        font-size: 3.7rem;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: .5rem;
    }

     .circle{
        font-size: 1.5rem;
        color:#3bcc75;
        margin:0 1.6rem
     }

     .he-des h5 {
        color:#fff;
        font-size: 1.4rem;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
        letter-spacing: 3px;
        margin-right: -3px;
     }

     .btn{
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: -2px;
     }

     .cta-btn {
        font-size: 1.1rem;
        background-color:#ffc845;
        padding: 1.5rem 3rem;
        color:#fff;
        border-radius: .4rem;
    }

     .cta-btn:hover,
     .cta-btn:focus{
        color:#fff;
        background-color:#3bcc75;
     }

     .global {
        text-align: center;
        margin-top: 3.9rem;
    }

    .dis-sto .global {
        margin-top: 6.9rem;
    }

     .global .circle {
        color:#3bcc75;
        margin: 2.4rem;
     }

     .hea-dark {
        color: black;
        letter-spacing: .7rem;
        margin-right: -.7rem;
     }
        
     .global h2-sub{
        letter-spacing: -1px;
        line-height: .42;  
     }
        
    .res-info {
        text-align: center;
    }
        
    .res-des{ 
        margin-bottom: 3rem;
    }

    .res-des p{
       line-height: 1.6;
        margin-bottom: 2.4rem
    }
       /*  menu   */

    .taste{
        background: url("./assets/el-salvador3.webp") center no-repeat;
        background-size: cover;
        }
        
    .bt{
        min-height: 65vh;
       display: flex;
       align-items: center;
    }

 /* platillos */

    .image-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        }
        
    .disco .res-des{
        padding-top: 3rem;
        margin-bottom: 0; 
        }
        
    .pb{
        background: url("./assets/el-salvador10.jpg") center no-repeat;
        background-size: cover;
        }

        /* footer  */

        footer {
            padding: 4.9rem 0;
            background-color: rgb(188, 238, 188);
            color: rgb(4, 4, 4);
            text-align: center;
            position: relative;
        }

    .footer-content{
        overflow: hidden;
        }

    .footer-content h4 {
        font-size: 1.9rem;
        text-transform: uppercase;
       font-weight: 100;
        letter-spacing: 3px;
        margin-bottom: 3rem;
        }
            
        .footer-content-about p {
            line-height: 2;
        }
            
        .social-icons {
            list-style: none;
            margin-bottom: 5.4ren;
           display: flex;
            justify-content: center;
        }
            
        .social-icons i {
            font-size: 3rem;
            color: rgb(30, 1, 177);
            padding: .2rem 2rem;
        }

        .social-icons i:hover,
        .social-icons i:focus{
           color: #efdf64;
        }

        .news-form{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
        }
        
        .new-input{
            width: 100%;
            max-width: 25rem;
            padding: 1rem;
            border-radius: 4rem;
        }

        .news-btn{
            background: transparent;
            border: none;
            color: aqua;
            cursor: pointer;
            font-size: 1.6rem;
            padding: 1px .6rem;
            position: absolute;
            top: 30%;
            margin-left: 20.5rem;
        }

        @media screen and (min-width: 900px) {

             section {
                 padding: 7.9rem;
            }

         .menu-toggle{
            display: none;
            }

        .nav{
             justify-content: space-between;
        }

        .nav-list{
            position: initial;
            width: initial;
            height: initial;
            background-color: transparent;
            padding: 0;
            justify-content: initial;
            flex-direction: row;
            transform: initial;
            transition: initial;
            }

        .nav-item{
        margin: 0 2.4rem;
        }

        .nav-item:last-child {
         margin-right:0;
        }

        .nav-link {
        font-size: 1.3rem;
        }

        .active {
        position: relative;
        }
        .active::before{
       content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffc845;
        left: 0;
        bottom: -3px;
        }

         .h2-sub{
       font-size: 3rem;
        }

        .fil{
        font-size: 3rem;
        }
        
        .head{
        font-size: 4.7rem;
        letter-spacing: .8rem;
        }

       .res-info{
        display: flex;
        align-items: center;
        }

         .res-info > div{
        flex: 1;
        }

        .pad-rig{
        padding-right: 7rem;

        }


        .footer-content {
            max-width: 77.5rem;
            margin: auto;
        }
            
        .footer-content-about{
            max-width: 51.3rem;
            margin: 0 auto 5.4rem;
        }
             
            
        .footer-div{
            display: flex;
            justify-content: space-between;
        }

        .social-media,
        .news-form{
            width: 100%;
            max-width: 27.3rem;
            margin:0 1rem;
            }
            
        .social-icons i {
            opacity: 1;
        }

        .news-btn{
            margin-left: 7.5rem;
        }
    }


    
    
    
