@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
    }

    .active{
        color: rgb(114, 36, 36);
        text-decoration: underline;
        font-weight: bold;
    }

    body, html{
        overflow-x:hidden ;
    }


    /*  NAVBAR  */
  
    .nav-links{
        display: flex;
        align-items: center;
    }

    .nav-links li{
        margin: 0 30px;
    }


     /*  NAVBAR  */
     @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
     *{
       margin: 0;
       padding: 0;
       color: #f4f804;
       box-sizing: border-box;
       font-family: 'Montserrat', sans-serif;
     }
     nav{
        position: fixed;
        width: 100%;
       background: rgb(12, 21, 11);
       padding: 10px 40px 10px 70px;
       border: 1px solid rgb(7, 7, 7);
       border-left: none;
       border-right: none;
     }
     nav ul{
       display: flex;
       list-style: none;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
     }
     nav ul li.logo{
       flex: 1;
       font-size: 30px;
       font-weight: 700;
     }
     nav ul div.items{
       padding: 0 25px;
       display: inline-flex;
     }
     nav ul div.items a{
       text-decoration: none;
       font-size: 18px;
       padding: 0 12px;
     }
     nav ul div.items a:hover{
       color: rgb(3, 3, 3);
     }
     nav ul .search-icon{
       height: 40px;
       width: 240px;
       display: flex;
       background: #050505;
       border-radius: 5px;
     }
     nav ul .search-icon input{
       height: 100%;
       width: 200px;
       border: none;
       outline: none;
       padding: 0 10px;
       color: #000;
       font-size: 16px;
       border-radius: 5px 0 0 5px;
     }
    
     nav ul li.btn{
       font-size: 29px;
       flex: 1;
       padding: 0 40px;
       display: none;
     }
     
     nav ul li.btn span{
       height: 42px;
       width: 42px;
       text-align: center;
       line-height: 42px;
       border: 1px solid #1b3e03;
       border-radius: 5px;
       cursor: pointer;
     }
     nav ul li.btn span.show:before{
       content: '\f00d';
     }
     @media screen and (max-width: 1052px) {
       nav{
         padding: 10px 40px 10px 0px;
       }
       nav ul li.logo{
         display: none;
       }
       nav ul div.items{
         flex: 4;
       }
     }
     @media screen and (max-width: 800px){
       nav ul li.btn{
         display: block;
       }

       nav{
         z-index: 1;
         padding: 9px 40px 9px 0;
       }

       nav ul div.items{
         z-index: -1;
         position: fixed;
         top: -220px;
         right: 0;
         width: 100%;
         background: #9ff394;
         display: inline-block;
         transition: top .4s;
       }

       nav ul div.items.show{
         top: 60px;
       }

       nav ul div.items li{
         text-align: center;
         line-height: 30px;
         margin: 30px 0;
       }

       nav ul div.items li a{
         font-size: 19px;
       }

     }

     @media screen and (max-width: 405px) {
       nav ul{
         flex-wrap: nowrap;
       }

       nav ul li.search{
         width: 50vmin;
       }

       nav ul li input{
         width: 40vmin;
       }

       nav ul li .search-icon{
         width: 10vmin;
       }

     }

     .content{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
       width: 100%;
       padding: 0 40px;
       z-index: -2;
     }

     .content .text{
       font-size: 40px;
       font-weight: 800;
       padding: 5px 0;
       color: #202020;
     }
     
     .content .p{
       font-size: 28px;
       font-weight: 600;
       color: #202020;
     }
   
/*  NAVBAR fin  */

/*  foto prueba  */
        header{
            width: 100vw;
            height: 100vh;
            background-image: url(./assets/volvan1.jpg);
            background-position: bottom;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        .header-content{
            margin-bottom: 300px;
            color: rgb(8, 8, 8);
            text-align: center;
        }

        .header-content h2{
            font-size: 4vmin;
        }

        .line{
            width: 250px;
            height: 10px;
            background: #030303;
            margin: 10px auto;
            border-radius: 8px;
        }

        .header-content h1{
            font-size: 7vmin;
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .ctn{
            padding: 10px 20px ;
            background: rgb(230, 241, 19);
            border-radius: 30px;
            color: rgb(17, 7, 7);
        }

        .menu-btn{
            position: absolute;
            top: 30px;
            right: 40px;
            width: 40px;
            cursor: pointer;
            display: none;
        }
        /*  foto prueba  */

     /* eventos */
    section{
        width: 80%;
        margin: 80px auto;
       padding-bottom: 30px;
        background-color: rgb(105, 171, 104);
    }

    .title{
        text-align: center;
        font-size: 4vmin;
       color: rgb(200, 243, 6);
    }

    .row{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
       
    }
    .row .col {
       display: flex;
       flex-direction: column ;
       align-items: center;
    }

    .events .row {
        margin-top: 50px;
    }
    h4{
        font-size: 4vmin;
        color: rgb(7, 7, 7);
        margin: 20px auto;
    }

    p{
        color: rgb(9, 9, 9);
        padding: 20px 40px;
    }

    .events ctn{
        margin-top: 30px;
    }

    .imgs{
        height: 100%;
        width: 100%;
       padding: 2rem;
    }

    #img2{
        height: 110%;
        width: 110%;
    }

    #img3{
        height: 90%;
        width: 90%;
        padding-right: 3rem;
    }
 /* eventos fin */

    .explore{
        margin-bottom: 0;
        width: 100%;
        height: 100vh;
        background-image: url(./assets/volcan9.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
    }

    .explore-content{
        width: 50%;
        padding: 50px;
        color: rgb(183, 232, 8);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .explore-content h1{
        font-size: 7vmin;
        margin: 70px;
        color: #0bd63e;
    }

    .explore-content p{
        color: rgb(246, 246, 7);
        font-size: 3vmin;
        margin-top: 0;
        padding-bottom: 5rem;
    }

    .explore-content .ctn{
        margin-top: 40px;
    }

    .content-col{
        width: 50%;
    }

    .image-col{
        width: 50%;
    }

    .tours{
        background-color: rgb(81, 178, 78);
    }

    .tours .image-gallery{
        display: flex;
        flex-wrap: wrap ;
        width: 100%;
        align-items: center;
    }
    
    .image-gallery img{
        width: 250px;
        margin: 10px;
       
    }

    .content-col h1{
        margin-left: 2rem;
        font-size: 7vmin;
        color: rgb(232, 248, 6);

    }
    .texto{
        color: #000;
    }
    .content-col line{
        margin-left: -1px;
      
    }

    .content-col p{
        padding: 0;
        margin: 30px auto;
        margin-left: 2rem;
    }

    .content-col ctn{
        margin-left: -100px;

    }
    /*  footer  */
    .footer{
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 2rem 8%;
        background-color: rgb(7, 98, 16);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logo1{
        height: 70px;
        margin-bottom: 1rem;
    }

    .icons-container, .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
       
    }

    .social-icon{
        height: 60px;
        width: 60px;
        border-radius: 50px;
        border: 1px solid rgb(206, 206, 9);
        background-image: url(./assets/facebook.png);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        margin: 1rem;
        
    }

    .social-icon:hover{
        background-color: rgb(197, 226, 8);
    }

    .social-icon:nth-of-type(2){
        background-image: url(./assets/instagram.png);
    }

    .social-icon:nth-of-type(3){
        background-image: url(./assets/linkedin.png);
    }

    .social-icon:nth-of-type(4){
        background-image: url(./assets/twitter.png);
    }

    .footer-container{
        list-style-type: none ;
        color: rgb(205, 228, 27);
        font-size: 18rem;
    }

    .item{
        margin: 1rem 1.5rem;
        cursor: pointer;
        font-size: 2vmin;
    }

    .item:hover{
        opacity: 1;
        color: rgb(2, 2, 1);
    }

    .copyright{
        color: rgb(1, 47, 4);
        text-align: center;
    }




    /* celulares  */
    @media only  screen and (max-width:850px){

        .menu-btn{
            display: block;
        }

        .navbar{
            padding: 0;
        }
        .logo{
            position: absolute;
            top: 30px;
            left: 30px;
        }
        .nav-links{
            flex-direction: column;
             width: 100%;
             height: 100vh;
             justify-content: center;
             background: gray;
             margin-top: -900px;
             transition: all 0.05s ease;
         }

         .mobile-menu{
            margin-top: 0px;
            border-bottom-style: 30%;
         }

         .nav-links li{
            margin: 30px auto;
         }

         .row{
            flex-direction: column;
         }
         .row .col{
            margin: 20px auto;
         }

         .col img {
            max-width: 90%;
         }

         /* explore */

         .explore-content{
            width: 100%;
         }

         .image-gallery{
            justify-content: center;
            align-items: center;
         }

         .image-gallery img{
            width: 90%;
         }
        }


         /*    animacion    */

         img{
            transition: transform .3s ease;
         }

         img:hover{
            transform: scale(1.1);
         }

         .ctn:hover{
            background-color: rgb(253, 253, 253);
            color: blueviolet;
            box-shadow: 2px 2px 5px #000000;
         }

         .li:hover{
            color: aliceblue;
            cursor: zoom-out;
         }



